version: "3.8"

services:
  vuejspocdb:
    image: wodby/mariadb:$MARIADB_TAG
    container_name: "${PROJECT_NAME}_db"
    stop_grace_period: 30s
    environment:
      MYSQL_ROOT_PASSWORD: $DB_ROOT_PASSWORD
      MYSQL_DATABASE: $DB_NAME
      MYSQL_USER: $DB_USER
      MYSQL_PASSWORD: $DB_PASSWORD
      MYSQL_PORT: $DB_PORT
    volumes:
      - ./docker/database/data:/var/lib/mysql # Use bind mount

  vuejs_php:
    image: wodby/drupal-php:$PHP_TAG
    container_name: "${PROJECT_NAME}_php"
    environment:
      PHP_SENDMAIL_PATH: /usr/sbin/sendmail -t -i -S mailhog:1025
      #      PHP_SENDMAIL_PATH: /usr/sbin/sendmail -t -i -S opensmtpd:25
      DB_HOST: $DB_HOST
      DB_PORT: $DB_PORT
      DB_USER: $DB_USER
      DB_PASSWORD: $DB_PASSWORD
      DB_NAME: $DB_NAME
      DB_DRIVER: $DB_DRIVER
      PHP_FPM_USER: wodby
      PHP_FPM_GROUP: wodby
      COLUMNS: 80 # Set 80 columns for docker exec -it.
    volumes:
      - ./:/var/www/html:cached

  php-vuejs-install:
    image: wodby/drupal-php:$PHP_TAG_PROD
    container_name: "${PROJECT_NAME}_php_vuejs_install"
    environment:
      DB_HOST: $DB_HOST
      DB_PORT: $DB_PORT
      DB_USER: $DB_USER
      DB_PASSWORD: $DB_PASSWORD
      DB_NAME: $DB_NAME
      DB_DRIVER: $DB_DRIVER
      PHP_FPM_USER: wodby
      PHP_FPM_GROUP: wodby
      COLUMNS: 80 # Set 80 columns for docker exec -it.
    command: composer install
    volumes:
      - ./:/var/www/html:cached
  #      - docker-sync:/var/www/html # Docker-sync for macOS users

  php-vuejs-update:
    image: wodby/drupal-php:$PHP_TAG_PROD
    container_name: "${PROJECT_NAME}_php_vuejs_update"
    environment:
      DB_HOST: $DB_HOST
      DB_PORT: $DB_PORT
      DB_USER: $DB_USER
      DB_PASSWORD: $DB_PASSWORD
      DB_NAME: $DB_NAME
      DB_DRIVER: $DB_DRIVER
      PHP_FPM_USER: wodby
      PHP_FPM_GROUP: wodby
      COLUMNS: 80 # Set 80 columns for docker exec -it.
    command: sh scripts/deploy/update.sh
    volumes:
      - ./:/var/www/html:cached
  #      - docker-sync:/var/www/html # Docker-sync for macOS users

  crond-php-vuejs:
    image: wodby/drupal-php:$PHP_TAG
    container_name: "${PROJECT_NAME}_crond_php_vuejs"
    environment:
      CRONTAB: "0 * * * * drush -r /var/www/html/web cron"
    command: sudo -E LD_PRELOAD=/usr/lib/preloadable_libiconv.so crond -f -d 0
    volumes:
      - ./:/var/www/html:cached

  nginx-php-vuejs:
    image: wodby/nginx:$NGINX_TAG
    container_name: "${PROJECT_NAME}_nginx_php_vuejs"
    depends_on:
      - vuejs_php
    environment:
      NGINX_STATIC_OPEN_FILE_CACHE: "off"
      NGINX_ERROR_LOG_LEVEL: debug
      NGINX_BACKEND_HOST: vuejs_php
      NGINX_SERVER_ROOT: /var/www/html/web
      NGINX_VHOST_PRESET: $NGINX_VHOST_PRESET
    #      NGINX_DRUPAL_FILE_PROXY_URL: http://example.com
    volumes:
      - ./:/var/www/html:cached
    ## Alternative for macOS users: docker-sync https://wodby.com/docs/stacks/drupal/local#docker-for-mac
    #      - docker-sync:/var/www/html
    labels:
      - "traefik.http.routers.${PROJECT_NAME}_nginx.rule=Host(`${PROJECT_BASE_URL}`)"

  #  varnish:
  #    image: wodby/drupal-varnish:4.1-2.1.0
  #    depends_on:
  #      - nginx
  #    environment:
  #      VARNISH_SECRET: secret
  #      VARNISH_BACKEND_HOST: nginx
  #      VARNISH_BACKEND_PORT: 80
  #    labels:
  #      - 'traefik.backend=varnish'
  #      - 'traefik.port=6081'
  #      - 'traefik.frontend.rule=Host:varnish.drupal.docker.localhost'

  #  redis:
  #    image: wodby/redis:4.0-2.1.5

  #  pma:
  #    image: phpmyadmin/phpmyadmin
  #    environment:
  #      PMA_HOST: mariadb
  #      PMA_USER: drupal
  #      PMA_PASSWORD: drupal
  #      PHP_UPLOAD_MAX_FILESIZE: 1G
  #      PHP_MAX_INPUT_VARS: 1G
  #    labels:
  #      - 'traefik.backend=pma'
  #      - 'traefik.port=80'
  #      - 'traefik.frontend.rule=Host:pma.drupal.docker.localhost'

  #  solr:
  ## wodby/drupal-solr:[DRUPAL_VERSION]-[SOLR_VERSION]-[STABILITY_TAG].
  #    image: wodby/drupal-solr:8-6.4-2.0.0
  ##    image: wodby/drupal-solr:8-6.3-2.0.0
  ##    image: wodby/drupal-solr:8-5.5-2.0.0
  ##    image: wodby/drupal-solr:7-6.4-2.0.0
  ##    image: wodby/drupal-solr:7-6.3-2.0.0
  ##    image: wodby/drupal-solr:7-5.5-2.0.0
  #    environment:
  #      SOLR_HEAP: 1024m
  #    labels:
  #      - 'traefik.backend=solr'
  #      - 'traefik.port=8983'
  #      - 'traefik.frontend.rule=Host:solr.drupal.docker.localhost'

  #  memcached:
  #    image: wodby/memcached:1.4-2.0.0
volumes:
  codebase:
## Docker-sync for macOS users
#  docker-sync:
#    external: true
